body { 
    font-family: monospace; 
    background: linear-gradient( 
        135deg, 
        #f4fb8f, 
        #ff6b6b
    ); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
} 

h1 { 
    color: #089e8f; 
    font-size: 2.5rem; 
    margin: 0 0 1rem; 
    text-shadow: 2px 2px 4px
        rgba(0, 0, 0, 0.2); 
} 
  
.coin { 
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden; 
    box-shadow: 0 8px 20px
        rgba(0, 0, 0, 0.2); 
    transition: transform 0.5s 
        ease-in-out; 
    margin: 0 auto; 
    backface-visibility: hidden; 
} 

button { 
    background-color: #4e6bff; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 10px; 
    font-size: 1rem; 
    cursor: pointer; 
    transition: background-color 0.3s 
            ease-in-out, 
        transform 0.2s ease-in-out; 
    width: 100%; 
    margin-top: 20px; 
} 
  
button:hover { 
    background-image: linear-gradient( 
        45deg, 
        #4e6bff, 
        #ff6b6b
    ); 
    transform: scale(1.05); 
} 
  